html,
body {
	font-family: 'Varela Round', sans-serif;
	background-color: #36393f;
	height:100%
}

.bg-dark{
	background-color:#202225!important;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.text-responsive-large {
  font-size: calc(60% + 1.6vw + 1.6vh);
}

.text-responsive-medium {
  font-size: calc(75% + .45vw + .45vh);
}


.text-responsive-small {
  font-size: calc(75% + .15vw + .15vh);
}

.rounded {
	border-radius: 10% !important;
}

.page-content-top {
	margin-top:56.91px;
}

.card:hover {
	background-color: #fff;
}
